$white: #fff;
$black: #000;

$openS: OpenSans;
$muller: Muller;
$myPro: MyriadPro;

$headerLink:#fb0275;
$formBg: #9040dd;
$headerFormBg: #65269d;

$sxemaText: #5e606a;

$uslugBg: #faf8fb;
$uslugLinkBg: #883eca;

$interShadow: #ece9ec;

$poligrafText:#9598a3;
$poligrafBorder:#cccccc;

$otzivLink: #50a2e2;

$faqText: #5e606a;
$faqForm: #883eca;
$faqFormShadow: #d0bcd1;

$footerText: #c3aad9;

$title: #7f38bd;
$shadow: rgb(206, 202, 202);